# dependencies
/node_modules
/.pnp
.pnp.js
.vscode

# testing
/coverage
__tests__

# production
/build
/dist

# misc
.DS_Store

# package managers
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.lock
*-lock.json
